@model BLOG.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>

<div class="pb-6">
    <hr />
    <dl class="row">
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
    </dl>
</div>

<!-- Mostrar comentarios existentes -->
<h4>Comentarios</h4> 
@if (Model.Comments == null || Model.Comments.Count == 0)
{
    <div class="pb-3">
        <small>No hay comentarios.</small>
    </div>
}
else
{
    <ul>
        @foreach (var comment in Model.Comments)
        {
            <li>@comment.Text</li>
        }
    </ul>
}

<!-- Formulario para añadir un nuevo comentario -->
<h4>Añadir un comentario</h4>
<form asp-action="Create" asp-controller="Comments" method="post">
    <input type="hidden" name="PostId" value="@Model.Id" />
    <div>
        <label for="Text">Comentario:</label>
        <textarea name="Text"></textarea>
    </div>
    <div>
        <input type="submit" value="Enviar comentario" />
    </div>
</form>
