@using Microsoft.AspNetCore.Identity
@using BLOG.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<link rel="stylesheet" href="~/css/manage.css" asp-append-version="true" />

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <button class="navbar_button">
                    <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Administrar</a>
                </button>
            </li>
        }
        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Posts/Delete", new { area = "" })">
            <button class="navbar_button" id="logout" type="submit">
                <a class="form-inline nav-link">Cerrar sesión </a>
            </button>
        </form>
}
else
{
    <li class="nav-item">
        <button class="navbar_button">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
        </button>
    </li>
    <li class="nav-item">
        <button class="navbar_button">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesion</a>
        </button>
    </li>
}
</ul>
