html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
    padding: 4mm;
    background-color: #114358;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 90px;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.nav-link, .navbar-brand {
    color: #FFF !important;
}

.nav-link-manage {
    color: Black !important;
}

.nav-link {
    font-family: 'Roboto' !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 300 !important;
}

.navbar-brand {
    font-family: 'Belleza' !important;
    font-size: 45px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    text-decoration-line: underline !important;
    font-weight: 300 !important;
}

.navbar_button {
    font-size: 18px;
    color: #e1e1e1;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

    .navbar_button:focus, .navbar_button:hover {
        color: #fff;
    }

        .navbar_button:focus:after, .navbar_button:hover:after {
            width: 100%;
            left: 0%;
        }

    .navbar_button:after {
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #fff;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
    }

    .navbar_button:after {
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #fff;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
    }
}

.justify-text {
    text-align: justify;
}

.form-control-add {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0px 4px 4px 0px #000;
    backdrop-filter: blur(2px);
    margin-bottom: 10px;
}

.form-control-add:focus {
    box-shadow: 2px 4px 4px 2px #000 !important;
}

.card {
    position: relative !important;
    width: 87% !important;
    height: 100px !important;
    border-radius: 14px !important;
    z-index: 1111;
    overflow: hidden !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 5px;
}


.bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 99%;
    height: 90%;
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
}

.blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 70%;
    border-radius: 50%;
    background-color: #276E90;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
    0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }

    25% {
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }

    50% {
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }

    75% {
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }

    100% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
}